.btn {	
    position: absolute;
    height:40px;
    width:150px;
    border-color:#c2e254 #9bb838 #9bb838 #c2e254;
  border-style:solid;
  border-width:1px;
  margin-left: 12px
}
.btn2 {	
    position: absolute;
    height:40px;
    width:150px;
    border-color:#c2e254 #9bb838 #9bb838 #c2e254;
  border-style:solid;
  border-width:1px;
  margin-left: 200px
}
.btn3 {	
    position: absolute;
    height:40px;
    width:150px;
    border-color:#c2e254 #9bb838 #9bb838 #c2e254;
  border-style:solid;
  border-width:1px;
  margin-left: 400px
}
.input {
    position: absolute;
    margin-top: 30px

}
