body{   
    background: url(clown-fish-1266200_960_720.jpg) no-repeat;
    background-size: 100%;
    overflow: hidden;
} 
h3{
	color: #ffffff;
	font-size: 24px
}
.container1 {/*синяя рыба*/
  animation: moveRightLeft1 5s infinite linear;
}
@keyframes moveRightLeft1 { 

    0% { 
        transform: translateX(-300px); 
    } 
    
    100% { 
        transform: translateX(2000px); 
    } 
}

.container2 {/*синяя рыба*/
  animation: moveRightLeft2 7s infinite linear;
  position: relative;
  top: -330px;
  left: -10px;
}
@keyframes moveRightLeft2 { 

    0% { 
        transform: translateX(-300px); 
    } 
    
    100% { 
        transform: translateX(2000px); 
    } 
}


.container3 {/*пуузырьки*/
	position: relative;
  	animation: moveRightLeft3 3s ease-in-out infinite;

  	
}
@keyframes moveRightLeft3 { 

    100% { 
        transform: translateY(-700px); 
    } 
    
    0% { 
        transform: translateY(900px); 
    } 
}


.container4 {/*зеленая рыба*/
	position: relative;
  	animation: moveRightLeft4 5s infinite ease-in-out;;
    left: 1000px;
    top: -200px;
}
@keyframes moveRightLeft4 { 

   0%   { transform: translateY(0); }
   50%  { transform: translateY(-80px); }
   100% { transform: translateY(0); }
}


.container5 {/*синяя рыба*/
  animation: moveRightLeft5 5s infinite linear;
  position: relative;
  top: -550px;
  left: -10px;
}
@keyframes moveRightLeft5 { 

    0% { 
        transform: translateX(-300px); 
    } 
    
    100% { 
        transform: translateX(2000px); 
    } 
}
